<div> <!-- to load html into PHP, just put what you wanted copied into <div> not <body> or <head>, add those tags in PHP-->

	<div class = "endpage">

		<div id = "bottomsocial">
			<a href = "https://github.com/anuhashah" target = "_blank"><span class="fab fa-github-square" style="padding: 0px 4px; transition: 0.3s;"></span></a>

			<a href = "https://www.linkedin.com/in/anujapshah/" target = "_blank"><span class="fab fa-linkedin-square" style="padding: 0px 4px; transition: 0.3s;"></span></a>

	        <a href = "https://www.instagram.com/anujashah/" target = "_blank"><span class="		        fab fa-instagram-square" style="padding: 0px 4px; transition: 0.3s;"></span></a>
    	</div>

		<div class = "copyright">
			<p> Anuja Shah © 2024 </p>
		</div>

	</div>

	<!-- best practice to put JavaScript files right before </body> tag, which is why this is in footer.html and not header.html, even though the scroll is for the header-->
	<script src = "../_Scripts/scroll.js"> </script>
	
</div>