<div class = "top">

   <div id = "social">
        <a href = "https://github.com/anuhashah" target = "_blank"><span class="fa fa-github" style="padding: 0px 15px; transition: 0.3s;"></span></a>
        <a href = "https://www.linkedin.com/in/anujapshah/" target = "_blank"><span class="fa fa-linkedin" style="padding: 0px 15px; transition: 0.3s;"></span></a>
        <a href = "https://www.instagram.com/anujashah/" target = "_blank"><span class="fa fa-instagram" style="padding: 0px 15px; transition: 0.3s;"></span></a>
   </div>

<!-- figure out how to set class = "active" dynamically, depending on which page is current because active does not transfer scripts--> 
   <div  class = "links" id="myLinks">
		<a href=".." style="padding: 0px 15px">HOME</a>
		<a href ="../_Links/resume.php" style="padding: 0px 15px">RESUME</a>
		<a href ="../_Links/contact.php" style="padding: 0px 15px">CONTACT</a>
		<a href ="../_Links/about.php" style="padding: 0px 15px">ABOUT</a>
	</div>

  	<h1 id="title">
   	<a href= ".." >ANUJA SHAH</a>
   </h1>

</div>
		
