.page
{
	padding: 150px 20px;
	text-align: center;
	font-size: 20px;
}

.projects
{
	display: flex;
  	justify-content: center;
}

.center
{
	object-fit: cover;
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.center:hover
{
	object-fit: cover;
	-webkit-filter: grayscale(0%); 
}
