.imgbox 
{
    display: grid;
    height: 100%;
    text-align: center
}
.center-fit 
{
    max-width: 100%;
    max-height: 100vh;
    vertical-align: middle
    margin: auto;
    display: block;
}


#download
{
	text-align: center;
	padding: 50px 20px;
}

#download a
{
	font-size: 20px;
	opacity: 1;
	text-decoration: none;
	transition: 0.3s;
}

#download a:hover
{
	opacity: 0.4;
}